{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background: rgb(43, 1, 1);
}

/* Header */
header {
  background-image: url('Main-images/360_F_745188744_KMNjnw02jUJVS2vCD3VRkDiIiiug3s64.jpg'); 
  text-align: center;
  padding: 60px 40px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: -10px -10px;
}

.cart {
  color: white;
  position: absolute;
  right: 40px;
  top: 24%;
  transform: translateY(-50%);
}

/* Burger icon */
.burger {
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: 26px;
  cursor: pointer;
  display: block;
  z-index: 1000;
  color: black;
}

/* Navigation */
.topnav {
  background: black;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  margin: 5px -10px;
}
  
nav {
  padding-top: 80px;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: black;
  padding: -5px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  z-index: 900;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

  nav.active {
  left: 0;
  }

nav a:hover {
  text-decoration: underline;
}

.filter-menu {
  display: flex;
  background: #222;
  justify-content: center;
  gap: 20px;
  margin: -5px -10px;
}

/* Product Section */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
}

/* Product Card */
.product {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s;
  color: white;
}

.product:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.product img {
  width: 100%;
  margin-bottom: 10px;
}

button {
  background: #222;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #555;
}

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  
}

.textaboutus {
  color: white;
  max-width: 600px;
  margin: 40px auto;
  background: #000000;
  padding: 20px;
  border-radius: 8px;
}

.product.page {
  max-width: 600px;
  margin: 40px auto;
  background: #000000;
  padding: 20px;
  border-radius: 8px;
}

.productdetails {
  text-align: left;
  gap: 20px;
}